body{
    background-color: black;
}

p#clickMe{
    font-size: xx-small;
    position:fixed;
}

#titleHeadContainer{
    width:fit-content;
    height:fit-content;
    border: 2px solid white;
    background-color:rgb(99, 1, 1)
}

#titleHead{
    display:flex;
    background-color: rgb(107, 0, 0);
    border:2px solid white;
}

a#satanicTemple{
    color:black;
    text-decoration:line-through;

}